@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:ital@1&family=UnifrakturMaguntia&display=swap");

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.sound {
  font-size: 50px;
  text-align: right;
  padding: 20px 40px;
  cursor: pointer;
  padding-bottom: 0;
}

h1 {
  font-family: "UnifrakturMaguntia", cursive;
  font-size: 80px;
  text-align: center;
  color: white;
  text-shadow: #f8c8dc 1px 3px;
  letter-spacing: 3px;
  line-height: 1.4;
}

.header {
  display: flex;
  align-items: center;
}

.mainTitle {
  padding-top: 3%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5%;
  max-width: 60vw;
}


.essayContainer {
  height: 380px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  display: flex;
  border: 5px solid white;
  box-shadow: 12px 12px 2px 1px #f8c8dc;
}

h2 {
  font-size: 40px;
  text-shadow: #f8c8dc 0.4px 1.2px;
  letter-spacing: 3px;
  line-height: 1.4;
  font-family: "UnifrakturMaguntia", cursive;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 1150px) {
  .header {
    flex-direction: column-reverse;
  }
  .header h1 {
    max-width: 100%;
    font-size: 40px;
  }
  .header img {
    max-width: 100%;
    height: inherit;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8% 20%;
    min-width: 50vw;
  }
  .essayContainer {
    height: 550px;
    background-size: cover;
  }
  .Navbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px 3%;
    min-width: 90vw;
    list-style-type: none;
    align-items: center;
    padding-bottom: 7%;
  }

  .menu{
    flex-direction: column;
    width:100vw !important;
    padding-bottom:20% !important;
    padding-top:20% !important;
  }
  .select{
    padding-bottom: 10%;
  }
.form{
  width:50% !important;
}
  li {
    font-size: 30px;
    font-family: "Old Standard TT", serif;
  }
}

@media (max-width: 670px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .essayContainer {
    height: 500px;
  }
}

.essayContainer {
  position: relative;
}
.essayContainer::before {
  content: "";
  position: absolute;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.25);
}

h2 {
  position: relative;
}

.menu {
  display: flex;
  align-items: center;
  width:60vw;
  justify-content: space-between;
  padding-bottom: 7%;
  padding-top: 3%;
}

.select{
  width:50%;
}

.form{
  width:30%;
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 9px 9px 2px 1px #f8c8dc;
  border-radius: 10px;
}
.iconSearch{
  color:gray;
  width:20%;
  margin:none;
}

form input {
  width:100%;
  background-color: transparent;
  border: none;
  padding:20px;
  padding-top:22px;
  padding-left:5px;
  color:gray;
  font-size:18px;
  font-family: "Old Standard TT", serif;
  
}

*:focus {
  outline:none;
}

.essayHeader{
  display: flex;
  justify-content: space-between;
  width:100vw;
  padding:5%;
  padding-bottom:0;
}

.essayHeader a {
  font-size: 60px;
}

.para {
  color:white;
  font-family: "Old Standard TT", serif;
  font-size: 30px;
  text-align: center;
  max-width: 50vw;
  line-height: 2;
  padding-top:4%;
}

.like{
  padding-top:10%;
  padding-bottom:5%;
}

.li2{
  padding-top:25%;
  padding-bottom: 5%;
  color:black;
  font-size: 30px;
}